.row{   

    background-color:rgb(255, 94, 0);
    color:white;
    font-size:20px;
    
}
.headshot{
    width:200px;
    /* height: 200px; */
    border-radius: 50%;
    padding: 15px;
}
.mid{
    background-color:rgb(187, 187, 187);
    color:black;
    align-items:center;
    font-size:50px;
    margin-top:5px;
    margin-bottom:5px;
    justify-content: center;
    display: flex;
    flex-flow:column wrap;
    border-radius:10px;
    font-family:Times,serif;
}
.aboutme{
    border:1px solid black;  
}

.footer{
    display: flex;
    justify-content: space-around;
    border-radius:10px;
}

.daoHang{
    background-color: turquoise;
    border-radius:10px;
    padding: 10px;
}

.daoHangText{
    text-decoration: none;
    color: white;
}

.changJing{
    width: 100%;
}

h1{
    font-size: 70px;
}

.this{
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    padding: 7px;
    margin: 7px;
    padding-bottom: 7px;
    font-family: 'Ubuntu', sans-serif;
    color: grey;
}

.cosas{
    width: 70px;
    height: auto;
}

.hi{
    font-weight: bold;
    font-size: 20px;
    font-family: 'Fjalla One', sans-serif;
}

.image{
    width: 50%;
    padding-left: 25%;
}